<!DOCTYPE html>

<html ng-app="myApp">

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script src="app.js"></script>
    <title>Student Exam Data</title>
    <link rel="stylesheet" href="style.css">
  </head> 

  <body ng-controller="ExamController">
   
    <h1>Student Exam Data</h1>
    <form ng-submit="addStudent()">
        <label>Name:</label>
        <input type="text" ng-model="newStudent.name" required>
        <label>Subject:</label>
        <input type="text" ng-model="newStudent.subject" required>
        <label>Score:</label>
        <input type="number" ng-model="newStudent.score" required>
        <button type="submit">Add Student</button>
    </form>

    <table>
      <tr>
        <th>Name</th>
        <th>Subject</th>
        <th>Score</th>
        <th>Actions</th>
      </tr>
      <tr ng-repeat="student in students">
        <td ng-bind="student.name"></td>
        <td ng-bind="student.subject"></td>
        <td ng-bind="student.score"></td>
        <td>
          <button ng-click="updateScore(student)">Update Score</button>
          <button ng-click="removeStudent(student)">Remove</button>
        </td>
      </tr>
    </table>
      
  </body>

</html>


