table{
    border-collapse: collapse;
    width: 100%;
}

th, td{
    border : 1px solid powderblue;
    padding : 8px;
    text-align : left;
}


th{
    background-color: cornflowerblue;
    color : black;
}

form {
    margin-bottom: 20px;
  }
  
  label {
    display: inline-block;
    width: 100px;
  }
  
  input {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 5px;
    background-color: #c6ffc8;
    color: rgb(8, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ee9bff;
  }